* {
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  font-style: normal;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(218, 23%, 16%);
}

#container {
  max-width: 38%;
  background-color: hsl(217, 19%, 24%);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 2rem;
  position: relative;
}

#advice-number{
    color: hsl(150, 100%, 66%);
    letter-spacing: 5px;
    font-size: 0.8rem;
}

#advice-quote{
    color: hsl(193, 38%, 86%);
    text-align: center;
    font-size: 28px;
    padding: 1rem 2rem;
    margin-block: 1rem;
}

#divider{
    padding-block: 1rem;
}

#dice{
    width: 3rem;
    height: 3rem;
    background-color: hsl(150, 100%, 66%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 2rem;
    position: absolute;
    bottom: 0;
    transform: translateY(50%);
}

#dice:hover{
    box-shadow: 0px 0px 50px 5px hsl(150, 100%, 66%);
    transform: translateY(50%) rotate(360deg);
    transition: all 1s;
}


/* Media Queries */
@media (max-width: 1400px){
  #container{
    max-width: 45%;
  }
}

@media (max-width: 1100px){
  #container{
    max-width: 65%;
  }
}

@media (max-width: 800px){
  #container{
    max-width: 85%;
  }
}

@media (max-width: 600px){
  #container{
    max-width: 85%;
  }

  .advice-quote{
    font-size: 20px;
  }
}

@media (max-width: 400px){
  #container{
    max-width: 95%;
    padding: 1.5rem;
  }

  #advice-quote{
    font-size: 20px;
    padding: 1rem;
    margin-block: 0.25rem;
  }

  #dice{
    width: 1rem;
    height: 1rem;
  }
}
